<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MEN-PLAYER</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<!------------------------------------------------------header----------------------------------------------------->
<!--<div class="container">-->
<!--    <div class="insert" th:insert="~{/home/header::header}"></div>-->
<!--</div>-->
<!------------------------------------------------display player list ---------------------------------------------------------->
<div class="container">
    <div class="col-lg-12">
        <div class="row">
            <h2 align="center">MEN-PLAYER</h2>
            <h3 th:text="${mess}"></h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <form class="d-flex" th:action="@{/player/show-list}" method="get">
                    <div class="col-lg-3">
                        <input class="form-control me-2" name="searchName" type="search" placeholder="Search by name"
                               aria-label="Search">
                    </div>
                    <div class="col-lg-3">
                        <select name="searchPositionId" class="form-select"
                                aria-label="Example select with button addon">
                            <option value="">Select Position</option>
                            <option th:each="position : ${positionList}" th:value="${position.id}"
                                    th:text="${position.positionType}"></option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <select name="searchNationId" class="form-select"
                                aria-label="Example select with button addon">
                            <option value="">Select Country</option>
                            <option th:each="nation : ${nationList}" th:value="${nation.id}"
                                    th:text="${nation.country}"></option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <button type="button" class="btn btn-light" data-bs-toggle="modal"
                        data-bs-target="#addPlayer">
                    <img src="https://img.icons8.com/offices/30/null/plus-2-math.png"/> ADD NEW PLAYER
                </button>
            </div>
            <div class="col-lg-3">
                <p style="color: red" th:text="${message}"></p>
            </div>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead class="table align-middle table-secondary" align="center">
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date Of Birth</th>
                    <th scope="col">Age</th>
                    <th scope="col">Position</th>
                    <th scope="col">Expenrience</th>
                    <th scope="col">Country</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="player,stt : ${playerList.content}">
                    <th align="center" scope="row" th:text="${stt.count + playerList.number*playerList.size}"></th>
                    <td th:text="${player.name}"></td>
                    <td th:text="${player.dateOfBirth}"></td>
                    <td th:text="${player.age}"></td>
                    <td th:text="${player.position.positionType}"></td>
                    <td th:text="${player.experience}"></td>
                    <td th:text="${player.nation.country}"></td>
<!--                    <td th:text="${player.status}">-->
<!--                        <span th:case="true">Đã đăng kí</span>-->
<!--                        <span th:case="false">Dự bị</span>-->
<!--                    </td>-->
                    <td>
                        <button type="button"
                                th:attr="onclick=|getPlayerInfo('${player.name}','${player.dateOfBirth}','${player.age}',
                                '${player.position.positionType}','${player.experience}','${player.nation.country}')|"
                                class="btn btn-light" data-bs-toggle="modal" data-bs-target="#editPlayer">
                            <img src="https://img.icons8.com/external-anggara-basic-outline-anggara-putra/24/null/external-create-social-media-interface-anggara-basic-outline-anggara-putra.png"/>
                        </button>
                    </td>
                    <td>
                        <button type="button" th:attr="onclick=|getPlayerId('${player.id}','${player.name}')|"
                                class="btn btn-light" data-bs-toggle="modal"
                                data-bs-target="#deletePlayer">
                            <img src="https://img.icons8.com/ios-glyphs/30/null/trash--v1.png"/>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <a th:href="@{/player/show-list(page=${playerList.number - 1})}" th:if="${playerList.hasPrevious()}"
               style="text-decoration: none">Back</a>
            <a th:href="@{/player/show-list(page=${playerList.number + 1})}" th:if="${playerList.hasNext()}"
               style="text-decoration: none">Next</a>
        </div>
    </div>
</div>
<!--Footer-->
<!--<div class="container">-->
<!--    <div class="insert" th:insert="~{/home/footer::footer}"></div>-->
<!--</div>-->
<!----------------------------------------------------------add modal-------------------------------------------------------------->
<div th:style="${hasErr == 'true' ? 'display: block' : 'display: none'}"
     id="addPlayer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
     th:class="${hasErr == 'true' ? 'modal fade show' : 'modal fade'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Player Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/player/add}" th:object="${playerDto}" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" th:field="*{name}" class="form-control" name="name">
                        <div class="text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                            <p>Incorrect name</p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" th:for="dateOfBirth">Birthday</label>
                        <input type="date" th:field="*{dateOfBirth}"
                               class="form-control"
                               name="dateOfBirth" required>
                        <div class="text text-danger" th:if="${#fields.hasErrors('dateOfBirth')}"
                             th:errors="*{dateOfBirth}">
                            <p>Incorrect date of birth</p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Age</label>
                        <input type="text" th:field="*{age}" class="form-control" name="age">
                        <div class="text text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">
                            <p>Incorrect Age</p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Position</label>
                        <select th:field="*{position}" class="form-select"
                                aria-label="Example select with button addon">
                            <option th:each="position: ${positionList}" th:value="${position.id}"
                                    th:text="${position.positionType}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Experience</label>
                        <input type="text" th:field="*{experience}" class="form-control" name="expenrience">
                        <div class="text text-danger" th:if="${#fields.hasErrors('experience')}"
                             th:errors="*{experience}">
                            <p>Incorrect experience</p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Country</label>
                        <select th:field="*{nation}" class="form-select"
                                aria-label="Example select with button addon">
                            <option th:each="nation : ${nationList}" th:value="${nation.id}"
                                    th:text="${nation.country}"></option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal"
                            th:attr="onclick=|onCloseModal()|">Close</button>
                    <button type="Submit" class="btn btn-danger">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-----------------------------------------------------------------edit modal---------------------------------------------------------------------->
<div class="modal fade" id="editPlayer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Player information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/player/edit}" th:object="${playerDto}" method="post">
                <div class="modal-body">
                    <input type="text" id="id" th:field="*{id}" name="id" hidden>
                    <div class="mb-3">
                        <label class="form-label">New name</label>
                        <input type="text" th:field="*{name}" class="form-control" id="newName" name="newName">
                        <div class="text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                            <p>Incorrect name</p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">New birthday</label>
                        <input type="date" class="form-control" th:field="*{dateOfBirth}" name="newBirthday" id="newBirthday">
                        <div class="text text-danger" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">
                            <p>Incorrect date of birth</p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">New age</label>
                        <input type="text" th:field="*{age}" class="form-control" id="newAge" name="newAge">
                        <div class="text text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">
                            <p>Incorrect age</p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">New Position</label>
                        <select class="form-select" th:field="*{position}"
                                aria-label="Example select with button addon" name="newPosition" id="newPosition">
                            <option th:each="position: ${positionList}" th:value="${position.id}"
                                    th:text="${position.positionType}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">New Experience</label>
                        <input type="text" th:field="*{experience}" class="form-control" id="newExperience"
                               name="newExperience">
                        <div class="text text-danger" th:if="${#fields.hasErrors('experience')}"
                             th:errors="*{experience}">
                            <p>Incorrect name</p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">New Country</label>
                        <select class="form-select" th:field="*{nation}"
                                aria-label="Example select with button addon" name="newCountry" id="newCountry">
                            <option th:each="nation : ${nationList}" th:value="${nation.id}"
                                    th:text="${nation.country}"></option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!---------------------------------------------------------------delete modal----------------------------------------------------------------------------->
<div class="modal fade" id="deletePlayer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Player Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            <form method="post" th:object="${playerDto}" th:action="@{/player/delete}">
                <div class="modal-body">
                    <label for="deleteId"></label><input type="text" hidden id="deleteId" name="id">
                    Bạn có muốn xóa cầu thủ <span id="deleteName" style="color: brown; font-weight: bold"></span>
                    không ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    function getPlayerId(id, name) {
        document.getElementById("deleteId").value = id;
        document.getElementById("deleteName").innerText = name;
    }
    function getPlayerInfo(id, name, dateOfBirth, age, positionId, experience, nationId) {
        document.getElementById("id").value = id;
        document.getElementById("newName").value = name;
        document.getElementById("newBirthday").value = dateOfBirth;
        document.getElementById("newAge").value = age;
        document.getElementById("newPosition").value = positionId;
        document.getElementById("newExperience").value = experience;
        document.getElementById("newCountry").value = nationId;
    }
    function onCloseModal() {
        document.getElementById('addPlayer').style.display = 'none';
        document.getElementById('exampleModalUpdate').style.display = 'none';
        window.location.href = "/player";
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>