<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Edit Product</h3>

<a th:href="@{/}">Back to product list</a>

<form action="/update" method="post" th:object="${product}">
    <table>
        <tr>
            <td><input type="hidden" th:field="*{id}"/></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>

        <tr>
            <td>Price</td>
            <td><input type="number" th:field="*{price}"/></td>
        </tr>

        <tr>
            <td>Describe</td>
            <td><input type="text" th:field="*{note}"/></td>
        </tr>

        <tr>
            <td>Producer</td>
            <td><input type="text" th:field="*{producer}"/></td>
        </tr>
    </table>
    <button type="submit">Save</button>
</form>
</body>
</html>