<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<form class="vh-100" th:action="@{/add}" th:object="${blog}" method="post">
    <div class="modal-body">
        <div class="mb-3">
            <label for="exampleFormControlInput1" th:for="title" class="form-label">Title </label>
            <input type="text" class="form-control" th:field="*{title}" id="exampleFormControlInput1" placeholder="enter title">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" th:for="author"  class="form-label">Author </label>
            <input type="text" class="form-control" th:field="*{author}" placeholder="enter author name">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" th:for="date" class="form-label">Date </label>
            <input type="text" class="form-control" th:field="*{date}" placeholder="enter date">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" th:for="content" class="form-label">Content</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" th:field="*{content}" rows="3"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</form>

</body>
</html>